@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: coral; */
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: white;
  text-shadow: 0px 1px 1px #3a2d2d;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: white;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border-radius: 10%;
  background-color: #bdbdbd33;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.board div:hover {
  box-shadow: inset 0px 0px 5px 1px #3a2d2d;
}

.clicked {
  box-shadow: inset 0px 0px 5px 1px #3a2d2d;
  cursor: default;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") rgb(240, 129, 151);
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") #77d3f2;
}

.button-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reset {
  padding: 0.5em 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  background-color: #EEEEEE;
  border: none;
  box-shadow: 0px 4px 0px 0px #3a2d2d;
  margin: 1em;
}

.reset:hover {
  background-color: #cecbcb;
}

.reset:active {
  box-shadow: inset 0px 0px 1px 1px #3a2d2d;
}

.reset:focus {
  outline: 0;
}

.info {
  font-size: 0.9em;
}